<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoBoard</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('components/navbar') %>

    <!-- TODO: Transform this "if" statement "into" switch statement -->
    <% if (page == 'admin') { %>
      <%- include('pages/Admin') %>
    <% } else if (page == 'dashboard') { %>
      <%- include('pages/Dashboard', { userDetails }) %>
    <% } else if (page == 'home') { %>
      <%- include('pages/Home', { posts }) %>
    <% } else if (page == 'login') { %>
      <%- include('pages/Login') %>
    <% } else if (page == 'post') { %>
      <%- include('pages/PostPage') %>
    <% } else if (page == 'signup') { %>
      <%- include('pages/Signup') %>
    <% } %>  

  </body>
</html>
