<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoBoard</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('components/navbar') %>

    <% switch (page) { 
        case 'admin': %> 
        <%- include('pages/Admin') %>
        <% break; 
        case 'dashboard': %>
        <%- include('pages/Dashboard', { userDetails }) %>
        <% break; 
        case 'home': %>
        <%- include('pages/Home', { posts }) %>
        <% break; 
        case 'login': %>
        <%- include('pages/Login') %>
        <% break; 
        case 'post': %>
        <%- include('pages/PostPage', { postDetail }) %>
        <% break; 
        case 'signup': %>
        <%- include('pages/Signup') %>
        <% break;
      } %>

      <div class="credits-container">See My Project On <a href="https://github.com/markpandan/odin-members-only" target="_blank">Github</a></div>
  </body>
</html>
