<dialog class="post-page-dialog">
    <form action="/post/delete" method="post">
        <p>Are you sure that you would like to proceed deleting this post?</p>
        <input type="hidden" name="postId" value="<%= postDetail.post_id %>">
        <div class="button-group">        
            <button type="submit">Yes</button>
            <button class="cancel-button">No</button>
        </div>
    </form>
</dialog>

<div class="container post-page-container">
    <div class="post-page-header">
        <div>
            <h1><%= postDetail.title %></h1>
            <p class="post-page-date"><%= postDetail.posting_date %>d ago</p>
        </div>
        <div>
            <div class="post-page-link">
                <
                <a href="/" >Return To Posts</a>
            </div>

        <% if (currentUser) { 
            if (currentUser.is_admin ) { %>
                <button onclick="showDashboardDialog()">Delete</button>
            <% }
        } %>
        </div>
    </div>
    <hr>
    <p class="post-page-content"><%= postDetail.description %></p>
    <% if (currentUser) { %>
        <% if (currentUser.is_member) { %> 
        <p class="post-page-detail ">Created By: 
            <span class="post-page-user">
            <%= postDetail.username %>
            <%= postDetail.id == currentUser.id ? "(You)" : "" %>
            </span>
        </p>
        <% } else { %>
            <p class="post-page-detail">Answer the <a href="/dashboard">secret code</a> to see the user</p>
        <% } %>    

    <% } else { %>
        <p class="post-page-detail ">
            <a href="/signup">Sign in</a> and answer the secret code to see the user 
        </p>
    <% } %>
</div>

<script>
    const dashboardDialog = document.querySelector(".post-page-dialog")
    const cancelButton = document.querySelector(".cancel-button");

    function showDashboardDialog() {
        dashboardDialog.showModal();
    }

    function closeDashboardDialog() {
        dashboardDialog.close();
    }

    cancelButton.addEventListener("click", (e) => {
       e.preventDefault();
       closeDashboardDialog();
    })
</script>
